
/**
* This is a general styles partial -- it could also be called SHAME since I could refactor it.
* It contains general type, layout, and incongruous block rules.
*/

body,
.page-content,
.graves-wrapper {
    background: darken($white, 5%);
}

.graves-wrapper {

    header,
    section,
    footer {
        display: block;
    }

    .main-content {
        position: absolute;
        top: 100%;
        width: 100%;
        background: #eee;
    }

    .graves-work,
    .about {
        padding: 5em 0;
    }

    .section--title {
        padding-bottom: 2em;
        font-size: 2rem;
        font-family: $primary;
        font-weight: 700;
        text-transform: uppercase;
    }
}

h1 {
  font-size: 3rem;
}

.graves-wrapper {

    h1,h2,p,a,li {
        font-family: Verdana;
        text-shadow: none;
        color: #000;
        line-height: 1.5;
    }

    p, a, li {
        font-family: $secondary;
    }

    h1, h2 {
        font-family: $primary;
    }
}

.hide {
    display: none;
}

.rotate {
    transform: rotate(90deg);
    margin: 2em 0;
}

.rotate-counter {
    transform: rotate(270deg);
    margin: 2em 0;
}

article {

    .entry-footer {

        display: none;

        &:before,
        &:after {
            display: none;
        }
    }
}

@media screen and (min-width: 48.9375em) {
    body:not(.custom-background-image).admin-bar:before {
        top: 0;
    }
}

body:not(.custom-background-image).admin-bar:before {
    top: 0;
}

body:not(.custom-background-image):before {
    display: none;
}

:not(.home).page .graves-wrapper .main-content {
    position: relative;
}

.photog-credit {
    text-align: right;
    font-weight: 400;
    margin-right: 3em;
}
