$white:        #fff;

//$dark-blue:    #07032D;
$dark-blue:    #151942;
//$medium-blue:  #1B1464;

$light-blue:   #2E267A;
$pale-blue:    #453E8F;
$blue-film:    rgba(195, 155, 255,.1);

$dark-yellow:  #6A5200;
$mustard:      #90720B;
$medium-yellow:#B09024;
$light-yellow: #CEB046;

$gray:         #aaa;

@mixin ghost-button ($color){

    border: 0.2em solid $color;
    padding: 0.5em 1em;
    font-size: 0.9rem;

    &:hover {
        background: $color;
    }
}

body,
.page-content,
.graves-wrapper {
    background: darken($white, 5%);
}

#site-header-menu {
    margin: 0;
}

#mobile-btn {

    position: fixed;
    top: 5em;
    right: 1em;
    width: 3em;
    z-index: 400;

    div {
        width: 2em;
        margin-bottom: 0.25em;
        border-top: 0.25em solid #fff;
        box-shadow: 1px 1px 1em #bbb;
    }
}

.graves-wrapper {

    header,
    section,
    footer {
        display: block;
    }

    .main-content {
        position: absolute;
        top: 100%;
        width: 100%;
        background: #eee;
    }

    .graves-work,
    .about {
        padding: 5em 0;
    }

    .section--title {
        padding-bottom: 2em;
        font-size: 2rem;
        font-family: $primary;
        font-weight: 700;
        text-transform: uppercase;
    }

    /**
    * Work Section
    */


    .work--wrap {

        text-align: center;
        margin-bottom: 5em;

        h2 {
            color: $dark-blue;
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 5em;
        }
    }

    .image__container {
        max-width: 60em; // 960px
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    .image__container a {

        width: 100%;
        max-height: 15em;
        position: relative;
        overflow: hidden;
        margin: 0;

        @media screen and (min-width: 768px) {
            width: 33%;
        }

        img {
            transform: scale(1);
            -webkit-filter: grayscale(100%);
            transition: all 3s ease;
            height: 15em;
            width: 20em;

            &:hover {
                -webkit-filter: grayscale(25%);
                transform: scale(1.1);
            }
        }
    }

    .image__placeholder {
        display: inline-block;
        position: relative;
        overflow: hidden;

        p {
            color: $white;
        }
    }

    .additional-work {

        background: $dark-blue;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 5em 0;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            padding: 3em 0;
        }

        p, a {
            color: $white;
        }

        .additional-work--copy {

            text-align: center;

            img {
                width: 2em;
                margin-bottom: 1em;
            }

            @media screen and (min-width: 768px) {

                margin: 0;
                text-align: left;

                img, p {
                    display: inline-block;
                }

                img {
                    margin-right: 0.5em;
                    margin-bottom: 0;
                }

                p {
                    margin: 0;
                    vertical-align: bottom;
                }
            }
        }

        .additional-work--link {

            @include ghost-button ($white);

            &:hover {

                a {
                    color: $dark-blue;
                    text-decoration: none;
                }
            }
        }
    }

    /**
    * About Section
    */

    .about {

        //background: url('../images/f7a0a54c92471ac4480e727e4ccf93df_XL.jpg');
        background-size: cover;
        background-position: left;
        -webkit-filter: grayscale(100%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5em 0;
        overflow: hidden;
        position: relative;
        height: 40em;

        @media screen and (min-width: 768px) {
            background-position: right;
            //height: 25em;
            margin-bottom: 5em;
            align-items: flex-start;
        }

        &:after {
            content: '';
            position: absolute;
            background: rgba(0,0,0,.4);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            @media screen and (min-width: 768px) {
                background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
                width: 50%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }

    .about--content {

        width: 20em;
        position: relative;
        z-index: 100;

        @media screen and (min-width: 768px) {
            width: 20em;
            position: absolute;
            z-index: 100;
            left: 10%;
            top: 50%;
            transform: translatey(-50%);
        }

        h2, p {
            color: #fff;

            @media screen and (min-width: 768px) {

            }
        }
    }

    /**
    * Location Section
    */

    .half-and-half--wrap {

        display: flex;
        flex-direction: column;
        height: 50%;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    .half-and-half {

        text-align: center;
        padding: 5em 0;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.first {
            background: $light-blue;
        }
        &.second {
            background: $pale-blue;
        }

        h3, p, a {
            color: $white;
        }

        h3 {
            font-family: $secondary;
            font-family: 1.1rem;
            font-weight: 700;
        }
    }

    .half-and-half--content {

        width: 25em;
        margin: auto;

        img {
            margin-bottom: 1em;
            width: 3em;
        }

        h3 {
            margin-bottom: 0.25em;
        }

        p {
            margin-bottom: 0;
        }

        a {
            text-decoration: underline;
        }
    }

    .location {
        overflow: hidden;
    }

    .map-wrap {

        height: 20em;

        @media screen and (min-width: 768px) {
            height: 25em; // 600px
        }
    }

    #map {

        // These three properties are key for the API to display the map properly.
        position: absolute;
        width: 100%;
        height: 20em;

        @media screen and (min-width: 768px) {
            height: 25em; // 600px
        }
    }
}

:not(.home).page .graves-wrapper .main-content {
    position: relative;
}

/**
* Site header
*/

.site-header {

    padding: 2em;
    position: relative;
    border: 0;
    overflow: hidden;

    img {
        width: 10em;
        position: relative;
        z-index: 100;
        overflow: hidden;
    }

    &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: url('../images/Indian River Web/IndianRiverResidence1.jpg');
        background-size: cover;
        background-position: bottom;
        -webkit-filter: blur(10px) grayscale(1);
        z-index: 5;
        top: 0;
        left: 0;
    }

    &:after {
        background: #151942;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        opacity: .8;
        z-index: 10;
        top: 0;
        left: 0;
        display: inline-block;
    }
}

.header {

    &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        background: url('../images/Indian River Web/IndianRiverResidence1.jpg');
        background-size: cover;
        -webkit-filter: blur(8px) grayscale(1);
        z-index: 5;
    }

    &:after {
        background: #151942;
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        opacity: .8;
        z-index: 10;
        top: 0;
        display: inline-block;
    }

    h1, h2, p {
        color: #fff;
    }
}

.header--wrap {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 200;

    img {
        width: 15em;
    }
}

.logo {
    animation: bulge 2s ease forwards;
}

.tagline {

    img {
        margin-bottom: 2em;
        width: 17rem;
    }

    p {
        font-size: 1.375rem;
    }
}

h1 {
  font-size: 3rem;
}

@keyframes bulge {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.5);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.tagline {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
  animation: reveal 4s ease forwards;
  margin-top: 10em;
}

@keyframes reveal {
  0% {
    margin-top: 10em;
    opacity: 0;
  }
  50% {
    margin-top: 5em;
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.header {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
}


.image__placeholder--overlay {

    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    pointer-events: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.5);
    text-align: center;

    p {
        color: $white;
    }
}

    .graves-wrapper footer,
    footer {

        padding: 4em;
        position: relative;
        overflow: hidden;

        > div {

            position: relative;
            padding: 1em;
            display: flex;
            flex-direction: column-reverse;
            overflow: hidden;
            background: $blue-film;
            z-index: 100;

            @media screen and (min-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            background: url('../images/Indian River Web/IndianRiverResidence1.jpg');
            background-size: cover;
            background-position: bottom;
            -webkit-filter: blur(16px) grayscale(1);
            z-index: 5;
            top: 0;
            left: 0;
        }

        &:after {
            background: #151942;
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            opacity: .8;
            z-index: 10;
            top: 0;
            left: 0;
            display: inline-block;
        }

        .footer--contact,
        .footer--social {
            position: relative;
            z-index: 100;
        }

        .footer--contact {

            width: 20em;

            img {
                width: 12em;
                margin-bottom: 1em;
            }

            p {
                margin-bottom: 0.25em;
                font-size: 0.9rem;
            }
        }

        .footer--social {

            .social {

                margin-bottom: 1em;
                margin-left: 0;

                li {
                    list-style-type: none;
                    display: inline-block;
                    margin-right: 0.5em;

                    &:nth-child(n+2):hover {
                        animation: jiggle .3s ease;
                    }
                }
            }

            img {
                width: 2em;
            }
        }

        p, a, li {
            color: $white;
            font-family: $secondary;
        }
    }

@keyframes jiggle {
    25% {
        transform: rotate(-25deg);
    }
    75% {
        transform: rotate(25deg);
    }
}




/**
* Shame - needs refactoring
*/

.graves-wrapper .work {
    background: none;
}

.graves-wrapper {
    h1,h2,p,a,li {
        font-family: Verdana;
        text-shadow: none;
        color: #000;
        line-height: 1.5;
    }

    p, a, li {
        font-family: $secondary;
    }

    h1, h2 {
        font-family: $primary;
    }
}

.graves-wrapper header {
    position: relative;
}

.graves-wrapper .nav,
.nav {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    margin: 0;
    text-align: center;
    width: 100%;
    //height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1em;

    &:before {
        content: '';
        background: $dark-blue;
        opacity: 1;
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    li {

        list-style: none;
        margin-bottom: 1em;
        font-size: 1.75rem;
        width: 100%;
        border: none;

        a {

            color: $white;
            font-family: $secondary;
            padding: 0;
            text-transform: uppercase;
            transition: background 1s ease;

            &:hover {
                text-decoration: none;
                background: $white;
                color: $dark-blue;
            }
        }

        // &:hover {
        //
        //     background: $white;
        //
        //     a {
        //         color: $dark-blue;
        //     }
        // }
    }
}

.nav[data-state=hide] {
    opacity: 0;
}

.nav[data-state=show] {
    opacity: 0.9;
    z-index: 300;
}

.down-arrow {
    content: '';
    position: absolute;;
    width: 1em;
    height: 1em;
    top: 86%;
    left: 50%;
    transform: rotate(45deg);
    border-right: 0.15em solid #fff;
    border-bottom: 0.15em solid #fff;
    animation: bob 3s ease infinite;
    z-index: 300;
}

@keyframes bob {
    0%{
        top: 86%
    }
    25%{
        top: 83%
    }
    50%{
        top: 86%
    }
    75%{
        top: 83%
    }
    100%{
        top: 86%
    }
}

.hide {
    display: none;
}

form {

    max-width: 25em;
    margin: auto;

    div {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 2em;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

    label {
        font-family: $secondary;
        color: $dark-blue;
        font-size: 1.25rem;
        align-self: flex-start;
    }

    input,
    textarea {
        font-size: 1rem;
        width: 15rem;
    }

    input {
        height: 2em;
    }

    textarea {
        min-height: 8rem;
    }

    button {

        @include ghost-button ($dark-blue);
        background: $white;
        color: $dark-blue;

        &:hover {
            color: $white;
        }
    }
}

.interior--headline,
.entry-header {

    text-align: center;
    margin: 2em auto;

    @media screen and (min-width: 768px) {
        width: 35em;
    }

    h1,
    .entry-title {

        font-family: $primary;
        font-size: 2.5rem;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            white-space: nowrap;
        }

    }

    p {
        font-family: $secondary;
        font-size: 1.25rem;
        width: 20em;
        margin: 0 auto 1em;
    }
}

/**
* Hide the interior page headlines unitl we get content
*/

.interior--headline p {
    display: none;
}

.portfolio {
    max-width: 80em;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}

.portfolio img {
    height: 15em;
    overflow: hidden;
}

.portfolio a {

    position: relative;
    margin: 0.5em;
    pointer-events: none;
    font-family: $secondary;

    .image__placeholder--overlay {
        @extend .image__placeholder--overlay;
    }
}

.work.portfolio a {
    pointer-events: all;
}

.mid-page--header {

    display: block;
    width: 100%;
    text-align: center;

    h2 {
        margin: 0 0 1em;
        text-transform: uppercase;
        font-family: $primary;
    }
}

.rotate {
    transform: rotate(90deg);
    margin: 2em 0;
}

.rotate-counter {
    transform: rotate(270deg);
    margin: 2em 0;
}

.home {
    article,
    #colophon {
        display: none;
    }
}

article {

    .entry-footer {

        display: none;

        &:before,
        &:after {
            display: none;
        }
    }
}

.site-header-main {
    height: 100%;
}

@media screen and (min-width: 48.9375em) {
    body:not(.custom-background-image).admin-bar:before {
        top: 0;
    }
}

body:not(.custom-background-image).admin-bar:before {
    top: 0;
}

.entry-title {
    margin: 0;
    font-weight: 400;
}

.entry-content {

    max-width: 80em;
    margin: auto;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;

    h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 2em;
    }

    p {
        margin: 0 .5em 1em;
    }

    @media screen and (min-width: 768px) {

        padding: 0 5em 2em;

        p {

            img {
                height: 15em;
                width: auto;
                overflow: hidden;
            }
        }
    }
}

.page-id-390 .graves-wrapper {

    .main-content {
        position: relative;
    }

    .entry-content {
        margin-bottom: 0;
        padding: 0;
    }

    .graves-work {
        padding: 0;
    }

    .work--wrap {

        max-width: 80em;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;

        a {
            margin: 0.25em 0.5em;
        }

        img {
            overflow: hidden;
            -webkit-filter: none;
            height: 15em;
        }
    }
}

.error404 .site-main {

    margin: 5em 0;

    .error-404 {

        text-align: center;

        .page-header,
        .page-title {
            margin: 0;
        }

        .page-content {
            padding: 0;
        }
    }
}

.search-submit:before {
    left: 0px;
    line-height: 30px;
}


// }
