/**
* Slider styles
*/
.slider--container {
    padding: 1em;
    max-width: 50em; // 800px
    margin: auto;
}

#image--main {
    position: relative;
}

.image {
    display: inline-block;
}

.portfolio .slider--container img {
    height: auto;
    overflow: visible;
}

.thumbnail--container {
    width: 80%;
    overflow: hidden;
    margin: auto;
}

#thumbnails {

    width: 100%;
    margin: auto;
    padding: 1em 1em 1em 0;
    white-space: nowrap;
    display: block;
    overflow-x: scroll;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.image {

    width: 5em;
    margin-right: 0.5em;
    transition: all 0s ease;
    overflow: hidden;
    border: 1px solid transparent;
    padding: 0.25em;

    &:hover {
        border-color: $white;
    }
}

#thumbnails .feature {
    border-color: #666;
}

.slider--container img {
    width: 100%;
}

#arrows {
    width: 100%;
    margin: auto;
}

.arrow.right,
.arrow.left {

    width: 2em;
    height: 2em;
    position: absolute;
    top: 50%;

    &:before,
    &:after {
        content: '';
        position: absolute;
        background: $white;
        border-radius: 5px;
        box-shadow: 1px 1px 1em;

        @media screen and (min-width: 768px) {
            background: $gray;
            box-shadow: none;
        }
    }

    &:before {
        width: 5px;
        height: 3em;
    }

    &:after {
        width: 3em;
        height: 5px;
    }
}

.arrow.left {

    left: 1em;
    transform: rotate(-45deg);
    transition: all 0.3s ease;

    &:hover {
        transform: rotate(-45deg) scale(1.5, 1.5);
    }

    @media screen and (min-width: 768px) {
        left: auto;
        right: 105%;
    }
}

.arrow.right {

    right: 1em;
    transform: rotate(135deg);
    transition: all 0.3s ease;

    &:hover {
        transform: rotate(135deg) scale(1.5, 1.5);
    }

    @media screen and (min-width: 768px) {
        right: auto;
        left: 105%
    }
}
