// Variables

/**
* Colors
*/

$white:        #fff;
//$dark-blue:    #07032D;
$dark-blue:    #151942;
//$medium-blue:  #1B1464;
$light-blue:   #2E267A;
$pale-blue:    #453E8F;
$blue-film:    rgba(195, 155, 255,.1);
$dark-yellow:  #6A5200;
$mustard:      #90720B;
$medium-yellow:#B09024;
$light-yellow: #CEB046;
$gray:         #aaa;
